$orange: #d24800;

#dashboard {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	bottom: 0;
	right: 0;
	background: rgb(27, 39, 94);
	background: linear-gradient(
		135deg,
		rgba(27, 39, 94, 1) 0%,
		rgba(28, 28, 55, 1) 100%
	);
	overflow: hidden;

	.playlist-title {
		color: white;
	}

	.playlist-lore {
		color: white;
	}
	.menu-upright-toggle {
		span {
			background: white;
		}
	}
	.menu-upleft-toggle {
		fill: white;
	}

	#menu-upleft,
	#menu-upright {
		background: rgb(27, 39, 94);
		background: linear-gradient(
			135deg,
			rgba(27, 39, 94, 1) 0%,
			rgba(28, 28, 55, 1) 100%
		);

		span {
			background: white;
		}
	}

	#menu-upright {
		border: 3pt white;
		border-style: none none solid solid;
	}

	#menu-upleft {
		border: 3pt white;
		border-style: none solid solid none;
	}

	.MU-icons,
	.MUL-icons {
		color: white;
		fill: white;
	}
	.upright-text,
	.upleft-text {
		color: white;
	}

	.dashboard-art-left {
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: -8pt;
		left: -8pt;
		width: 35vw;
	}

	.dashboard-art-right {
		position: absolute;
		bottom: -7pt;
		right: -7pt;
		width: 40vw;
	}

	.db-greeting {
		position: absolute;
		left: 20%;
		top: 30%;
		color: white;
		font-family: "Open Sans";
		font-weight: 300;
		font-style: italic;

		span {
			font-style: normal;
			text-transform: uppercase;
			color: $orange;
			font-weight: 600;
		}
	}

	.db-stats {
		position: absolute;
		top: 25%;
		right: 20%;
		color: white;
		font-family: "Open Sans";
		width: 350px;
		h2 {
			margin: 20px 0 40px 0;
			font-weight: 300;
			text-align: right;

			span {
				font-weight: 600;
				cursor: pointer;
			}
		}
		.db-stats-flex {
			display: grid;
			grid-template-rows: 30% 5% 30% 5% 30%;
			grid-template-columns: 75% 5% 20%;
			height: 100px;
			width: 250px;

			p {
				margin: 0;
				padding: 0;
				text-align: right;
				line-height: 30px;
				&:nth-child(1) {
					grid-row: 1;
					grid-column: 1;
				}
				&:nth-child(2) {
					grid-row: 3;
					grid-column: 1;
				}
				&:nth-child(3) {
					grid-row: 5;
					grid-column: 1;
				}
			}

			i {
				margin: 0;
				padding: 0;
				font-weight: 600;
				line-height: 30px;
				text-align: center;

				&:nth-child(4) {
					grid-row: 1;
					grid-column: 3;
				}
				&:nth-child(5) {
					grid-row: 3;
					grid-column: 3;
				}
				&:nth-child(6) {
					grid-row: 5;
					grid-column: 3;
				}
			}

			.db-stats__border {
				grid-row: 1 / 6;
				grid-column: 3 / 4;
				border: 2pt solid $orange;
				border-radius: 20px;
				height: 120%;
				margin: -25% 0;
			}
		}
	}
	.db-buttons {
		position: absolute;
		top: 60%;
		left: 70%;
		transform: translateX(-50%);
		width: 600px;
		height: 100px;
		text-align: center;

		button {
			position: relative;
			width: 100px;
			height: 100px;
			display: inline-block;
			margin: 0 15px;
			background: rgb(27, 39, 94);
			background: linear-gradient(
				-45deg,
				rgba(27, 39, 94, 1) 0%,
				rgba(28, 28, 55, 1) 100%
			);
			border: 3px solid $orange;
			border-radius: 20px;
			cursor: pointer;
			transition: 0.1s all ease-in-out;

			&:hover {
				transform: scale(1.1);
			}

			svg {
				display: block;
				width: 50px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				fill: #fff;
				color: #fff;
			}
		}
	}
}
