$green: #139c61;
$resp-mobile: "only screen and (max-width : 900px)";

%posac {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login-page {
	@media #{$resp-mobile} {
		background: url("../../assets/pattern.png") repeat center;
		background-size: 100px;
		height: 100%;
		width: 100vw;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -100;
	}
}

.login-banner {
	width: 50%;
	@extend %posac;

	@media #{$resp-mobile} {
		display: none;
	}
}

#login-wrapper {
	@extend %posac;
	position: absolute;
	height: 40%;
	width: 23%;
	z-index: 1;
	display: block;
	background: white;

	@media #{$resp-mobile} {
		width: 80%;
		height: 50%;
		border-radius: 30px;
		-webkit-box-shadow: 0px 15px 45px 0px rgba(19, 156, 97, 0.25);
		-moz-box-shadow: 0px 15px 45px 0px rgba(19, 156, 97, 0.25);
		box-shadow: 0px 15px 45px 0px rgba(19, 156, 97, 0.25);
		min-height: 300px;
	}

	h1 {
		font-family: "Open Sans";
		text-transform: uppercase;
		text-align: center;
		font-weight: 300;
		margin: 0;
		padding: 0;
		letter-spacing: 2px;

		span {
			color: $green;
		}

		@media #{$resp-mobile} {
			margin-top: 25px;
		}
	}

	form {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translateX(-50%);
		display: grid;
		grid-template-columns: 75% 5% 20%;
		grid-template-rows: 30% 10% 30% 10% 20%;
		height: 150px;
		width: 400px;

		@media #{$resp-mobile} {
			grid-template-columns: 100%;
			grid-template-rows: 28% 5% 28% 5% 28% 6%;
			width: 85%;
			height: 150px;
		}

		input,
		button {
			margin: 0;
			padding: 0 10px;
			border: 4px solid #139c61;
			border-radius: 18px;
			background: white;
			font-size: 1rem;
			font-family: "Open Sans";
			&[type="text"] {
				grid-column: 1 / 4;
			}
			&[type="password"] {
				grid-column: 1 / 2;
				grid-row: 3 / 4;
			}
			&[type="submit"] {
				grid-column: 3 / 4;
				grid-row: 3 / 4;
				border: none;
				background: rgb(19, 156, 97);
				background: linear-gradient(-45deg, rgba(19, 156, 97, 1) 0%, rgba(19, 88, 59, 1) 100%);
				color: white;
				font-size: 1.5rem;
				cursor: pointer;
				transition: 0.15s all ease-in-out;
				&:hover {
					transform: scale(1.1);
				}
			}

			@media #{$resp-mobile} {
				font-size: 0.9rem;
				&[type="text"] {
					grid-column: 1;
				}
				&[type="password"] {
					grid-column: 1;
					grid-row: 3 / 4;
				}
				&[type="submit"] {
					grid-column: 1;
					grid-row: 5 / 6;
				}
			}
		}
		.chx {
			grid-row: 5 / 6;
			grid-column: 1 / 4;
			width: 100%;
			text-align: center;

			input {
				position: absolute;
				opacity: 0;

				& + label {
					position: relative;
					cursor: pointer;
					padding: 0;
				}

				& + label:before {
					content: "";
					margin-right: 10px;
					display: inline-block;
					vertical-align: text-top;
					width: 20px;
					height: 20px;
					background: none;
					border: 2px solid #13581b;
					border-radius: 6px;
					transition: 0.1s all ease-in-out;
				}

				&:checked + label:after {
					content: "\2713\0020";
					color: #139c61;
					position: absolute;
					top: 0.25rem;
					left: 0.3rem;
					font-size: 1.1rem;
					line-height: 0.8;
					opacity: 1;
					transform: scale(1);
				}
			}
			label {
				margin: 0 5px;
				padding: 0;
				display: inline-block;
				font-family: "Open Sans";
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: 2px;
				color: #13851b;
			}
		}
	}
}
