$green: #139c61;

%posac {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#noauth {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: rgba($color: #000000, $alpha: 0.3);
	z-index: 50;

	.noauth-modal {
		@extend %posac;
		height: 200px;
		width: 500px;
		background: white;
		border-radius: 25px;
		-webkit-box-shadow: 0px 10px 40px 0px rgba(19, 156, 97, 0.26);
		-moz-box-shadow: 0px 10px 40px 0px rgba(19, 156, 97, 0.26);
		box-shadow: 0px 10px 40px 0px rgba(19, 156, 97, 0.26);

		.noauth-modal__button-wrapper {
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(35%, -35%);
			z-index: 51;
			width: 40px;
			height: 40px;
			cursor: pointer;
			transition: 0.1s all ease-in-out;

			&:hover {
				transform: translate(35%, -35%) scale(1.1);
			}

			* {
				margin: 0;
				padding: 0;
			}
			.noauth-circle {
				width: 100%;
				color: #d20022;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.noauth-times {
				width: 50%;
				color: white;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}

		.noauth-modal__content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: "Open Sans";
			text-transform: uppercase;
			text-align: center;

			h2 {
				margin: 0;
				margin-bottom: 15px;
				padding: 0;
				letter-spacing: 2px;
				font-weight: 600;
			}
			.noauth-modal__span {
				display: block;
				margin: 0 -35%;
				height: 2px;
				width: 170%;
				background: #139c61;
				border-radius: 50px;
				opacity: 0.75;
			}
			p {
				margin: 0;
				margin-top: 15px;
				font-weight: 400;
				font-style: italic;
				letter-spacing: 1px;
			}
		}
	}
}

.login-banner {
	width: 50%;
	@extend %posac;
}

#login-wrapper {
	@extend %posac;
	height: 40%;
	width: 23%;

	h1 {
		font-family: "Open Sans";
		text-transform: uppercase;
		text-align: center;
		font-weight: 300;
		margin: 0;
		padding: 0;
		letter-spacing: 2px;

		span {
			color: $green;
		}
	}

	form {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translateX(-50%);
		display: grid;
		grid-template-columns: 75% 5% 20%;
		grid-template-rows: 45% 10% 45%;
		height: 100px;
		width: 400px;

		input,
		button {
			margin: 0;
			padding: 0 10px;
			border: 4px solid #139c61;
			border-radius: 18px;
			background: white;
			font-size: 1rem;
			font-family: "Open Sans";
			&[type="text"] {
				grid-column: 1 / 4;
			}
			&[type="password"] {
				grid-column: 1 / 2;
				grid-row: 3 / 4;
			}
			&[type="submit"] {
				grid-column: 3 / 4;
				grid-row: 3 / 4;
				border: none;
				background: rgb(19, 156, 97);
				background: linear-gradient(
					-45deg,
					rgba(19, 156, 97, 1) 0%,
					rgba(19, 88, 59, 1) 100%
				);
				color: white;
				font-size: 1.5rem;
				cursor: pointer;
				transition: 0.15s all ease-in-out;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}
