$borderradius: 35px;
%boxshadow {
	-webkit-box-shadow: 0px 10px 60px 0px rgba(19, 156, 97, 0.2);
	-moz-box-shadow: 0px 10px 60px 0px rgba(19, 156, 97, 0.2);
	box-shadow: 0px 10px 60px 0px rgba(19, 156, 97, 0.2);
}

#settings {
	.settings-heading {
		position: absolute;
		top: 10%;
		left: 50%;
		transform: translateX(-50%);
		text-transform: uppercase;
		text-align: center;
		font-family: "Open Sans";
		font-weight: 300;
		font-size: 2.3rem;
		letter-spacing: 6px;
	}

	.settings-grid {
		display: grid;
		grid-template-columns: 27.5% 5% 35% 5% 27.5%;
		grid-template-rows: 20% 3% 32% 45%;
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translateX(-50%);
		width: 90%;
		height: 70%;

		.settings-grid__maintenance {
			position: relative;
			grid-row: 1 / 2;
			grid-column: 3 / 4;
			border-radius: $borderradius;
			text-align: center;
			@extend %boxshadow;

			h2 {
				margin: 0;
				padding: 0;
				position: absolute;
				left: 10%;
				top: 50%;
				transform: translateY(-50%);
				text-transform: uppercase;
				font-family: "Open Sans";
				font-weight: 300;
				letter-spacing: 2px;
			}

			#toggler {
				position: absolute;
				right: 10%;
				top: 50%;
				transform: translateY(-50%);
				opacity: 1;
			}
		}

		.settings-grid__music {
			position: relative;
			grid-row: 1 / 4;
			grid-column: 1 / 2;
			display: grid;
			border-radius: $borderradius;
			@extend %boxshadow;

			h2 {
				text-align: center;
				margin: 25px 0 0 0;
				text-transform: uppercase;
				font-family: "Open Sans";
				font-weight: 300;
				letter-spacing: 2px;
			}

			.settings-grid__music__grid {
				display: grid;
				grid-template-rows: 30% 5% 30% 5% 30%;
				grid-template-columns: 80% 20%;
				position: absolute;
				top: 58%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 60%;

				h3 {
					margin: 0;
					padding: 0;
					grid-column: 1 / 2;
					font-family: "Open Sans";
					font-weight: 300;
					font-size: 1.7rem;

					&:nth-child(1) {
						grid-row: 1 / 2;
					}

					&:nth-child(3) {
						grid-row: 3 / 4;
					}

					&:nth-child(5) {
						grid-row: 5 / 6;
					}
				}

				#toggler {
					&:nth-child(2) {
						grid-column: 2 / 3;
						grid-row: 1 / 2;
					}
					&:nth-child(6) {
						grid-column: 2 / 3;
						grid-row: 5 / 6;
					}
				}

				form {
					position: relative;
					grid-row: 3 / 4;
					grid-column: 2 / 3;
					input {
						margin: 0;
						padding: 0;
						width: 100%;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						background: none;
						border: 1.5pt solid #139c61;
						box-sizing: border-box;
						border-radius: 7px;
						text-align: center;
						font-family: "Open Sans";
						font-weight: 600;
						color: #13581b;
						font-size: 1rem;
					}
				}
			}
		}

		.settings-grid__stats {
			grid-column: 5 / 6;
			grid-row: 1 / 4;
			@extend %boxshadow;
			border-radius: $borderradius;
			h2 {
				text-align: center;
				margin: 25px 0 0 0;
				text-transform: uppercase;
				font-family: "Open Sans";
				font-weight: 300;
				letter-spacing: 2px;
			}
		}

		.settings-grid__log {
			grid-row: 3 / 6;
			grid-column: 3 / 4;
			overflow: scroll;
		}
	}

	.settings-art {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}

#toggler {
	display: block;
	position: relative;
	width: 60px;
	height: 30px;
	background: #eeeeee;
	border-radius: 100px;
	border: 2pt solid white;
	cursor: pointer;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
	transition: 0.15s all ease-in-out;

	#toggler-circle {
		display: block;
		background: white;
		border: 0.5pt solid #c8c8c8;
		height: 100%;
		width: 30px;
		border-radius: 80px;
		box-sizing: border-box;
		position: absolute;
		transition: 0.15s all ease-in-out;
	}
}
