.cookies-page-wrapper {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background: rgb(19, 156, 97);
	background: linear-gradient(
		135deg,
		rgba(19, 156, 97, 1) 0%,
		rgba(19, 88, 59, 1) 100%
	);
}

.cookies-page-wrapper__content-wrapper {
	margin: 0;
	padding: 0;
	width: 60%;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-family: "Open Sans";
	color: white;
}
.cookies-page-wrapper__content-wrapper * {
	margin: 0;
	padding: 0;
}
.cookies-page-wrapper__content-wrapper h1 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 5rem;
}
.cookies-page-wrapper__content-wrapper p {
	margin: 50px 0;
	font-weight: 400;
	font-size: 2rem;
}

.cookies-page-wrapper__content-wrapper span {
	font-weight: 800;
	text-transform: uppercase;
}
.cookies-page-wrapper button {
	margin: 0;
	padding: 0;
	width: 300px;
	height: 60px;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	border-radius: 30px;
	text-transform: uppercase;
	color: #139c61;
	font-weight: 600;
	font-size: 2rem;
	letter-spacing: 1px;
	cursor: pointer;
	transition: 0.1s all ease-in-out;
	-webkit-box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.41);
	-moz-box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.41);
	box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.41);
}

.cookies-page-wrapper button:hover {
	transform: translate(-50%, -50%) scale(1.1);
}

@media only screen and (max-width: 1400px) {
	.cookies-page-wrapper__content-wrapper {
		top: 5%;
	}
	.cookies-page-wrapper button {
		bottom: 5%;
	}
}

@media only screen and (max-width: 900px) {
	.cookies-page-wrapper__content-wrapper {
		width: 85%;
		top: 5%;
		transform: translateX(-50%);
	}
	.cookies-page-wrapper__content-wrapper h1 {
		font-size: 3.5rem;
	}
	.cookies-page-wrapper__content-wrapper p {
		margin: 30px 0;
		font-size: 1.5rem;
	}
	.cookies-page-wrapper button {
		bottom: 15%;
	}
}
