.menu-upleft-toggle {
	fill: #139c61;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 3%;
	left: 3%;
	cursor: pointer;
}

.menu-upright-toggle {
	position: absolute;
	top: 3%;
	right: 3%;
	height: auto;
	width: 35px;
	cursor: pointer;
}

.menu-upright-toggle span {
	display: block;
	margin-top: 5px;
	width: 100%;
	border-radius: 3px;
	height: 6px;
	background: #108351;
	transition: all 0.3s ease-in-out;
	position: relative;
	float: right;
}

.menu-upright-toggle span:nth-child(1) {
	width: 85%;
}
.menu-upright-toggle span:nth-child(3) {
	width: 65%;
}

.menu-upright-toggle:hover span:nth-child(1),
.menu-upright-toggle:hover span:nth-child(3) {
	width: 100%;
}

#menu-upright {
	width: 300px;
	height: 300px;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 0 0 0 300px;
	background: linear-gradient(
		135deg,
		rgba(19, 156, 97, 1) 0%,
		rgba(19, 88, 59, 1) 100%
	);
}

#menu-upright .fas {
	color: #fff;
	font-size: 3rem;
	position: absolute;
	transform: translate(-50%, -50%);
}

.MU-icons {
	color: white;
	height: 3rem;
	position: absolute;
}

.lock {
	top: 10%;
	left: 15%;
}

.finger {
	top: 50%;
	left: 30%;
}

.inv {
	bottom: 10%;
	right: 15%;
}

.upright-text {
	margin: 0;
	padding: 0;
	max-width: 200px;
	position: absolute;
	top: 10%;
	left: 87%;
	transform: translateX(-100%);
	color: #fff;
	text-transform: uppercase;
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 1.5rem;
	text-align: right;
	line-height: 1.7rem;
	transition: 0.2s all ease-in-out;
}

.playlist {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translateX(-50%);
	text-transform: uppercase;
	text-align: center;
}

.playlist-title {
	margin: 0;
	padding: 0;
	font-family: "Potra";
	font-weight: 200;
	font-size: 4rem;
	color: #464545;
}

.playlist-lore {
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
	font-weight: 200;
	font-size: 30px;
	color: #464545;
}

@media only screen and (max-width: 1400px) {
	.playlist-title {
		font-size: 3rem;
	}

	.playlist-lore {
		font-size: 1.7rem;
	}
}
