.menu-upleft {
	fill: #139c61;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 3%;
	left: 3%;
	cursor: pointer;
}

.menu-upright {
	position: absolute;
	top: 3%;
	right: 3%;
	height: auto;
	width: 35px;
	cursor: pointer;
}

.menu-upright span {
	display: block;
	margin-top: 5px;
	width: 100%;
	border-radius: 3px;
	height: 6px;
	background: #108351;
	transition: all 0.3s ease-in-out;
	position: relative;
	float: right;
}

.menu-upright span:nth-child(1) {
	width: 85%;
}
.menu-upright span:nth-child(3) {
	width: 65%;
}

.menu-upright:hover span:nth-child(1),
.menu-upright:hover span:nth-child(3) {
	width: 100%;
}

.playlist {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translateX(-50%);
	text-transform: uppercase;
	text-align: center;
}

.playlist-title {
	margin: 0;
	padding: 0;
	font-family: "Potra";
	font-weight: 200;
	font-size: 4rem;
	color: #464545;
}

.playlist-lore {
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
	font-weight: 200;
	font-size: 30px;
	color: #464545;
}

@media only screen and (max-width: 1400px) {
	.playlist-title {
		font-size: 3rem;
	}

	.playlist-lore {
		font-size: 1.7rem;
	}
}
