#lastadded {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 650px;
	width: 25vw;
	height: 125px;
	background: linear-gradient(
		135deg,
		rgba(19, 156, 97, 1) 0%,
		rgba(16, 113, 72, 1) 100%
	);
	border-radius: 35px;
	text-align: center;
	text-transform: uppercase;
	font-family: "Open Sans";
	color: white;
	opacity: 0.83;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	-webkit-box-shadow: 0px 20px 45px 0px rgba(18, 156, 96, 0.35);
	-moz-box-shadow: 0px 20px 45px 0px rgba(18, 156, 96, 0.35);
	box-shadow: 0px 20px 45px 0px rgba(18, 156, 96, 0.35);
}

#lastadded h3 {
	margin: 20px 0 0 0;
	padding: 0;
	font-weight: normal;
	letter-spacing: 3px;
}

#lastadded h1 {
	margin: 10px 0;
	padding: 0;
	font-weight: 800;
}

.art-left {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 800px;
}

.art-right {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 850px;
}

#btn-wrapper {
	position: absolute;
	bottom: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn {
	position: absolute;
	top: 0;
	margin: 0 30px;
	width: 200px;
	height: 350px;
	text-align: center;
	border-radius: 40px;
	-webkit-box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	overflow: hidden;
	transition: 0.2s all ease-in-out;
}

.btn:hover {
	-webkit-box-shadow: 0px 0px 60px 0px rgba(19, 156, 97, 0.6);
	-moz-box-shadow: 0px 0px 60px 0px rgba(19, 156, 97, 0.6);
	box-shadow: 0px 0px 60px 0px rgba(19, 156, 97, 0.6);
}

.btn:hover > .btn-border-art {
	transform: scale(1.01);
	opacity: 0.7;
}

.btn h2 {
	text-transform: uppercase;
	font-family: "Open Sans";
	font-weight: 600;
	color: #707070;
	position: absolute;
	left: 50%;
	top: 28%;
	transform: translate(-50%, -50%);
}

.btn-left {
	right: 0;
}

.btn-right {
	left: 0;
}

.btn-icon {
	width: 40%;
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%, -50%);
	fill: #0f7a4c;
}

.btn-border-art {
	transform: scale(1.7);
	transition: 0.1s all ease-in-out;
	opacity: 0;
}
