$green: #139c61;
$resp-mobile: "only screen and (max-width : 900px)";
%posac {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#noauth {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: rgba($color: #000000, $alpha: 0.3);
	z-index: 50;
	transition: 0.2s all ease-in-out;

	@media #{$resp-mobile} {
		height: 100%;
	}

	.noauth-modal {
		@extend %posac;
		height: 200px;
		width: 500px;
		background: white;
		border-radius: 25px;
		-webkit-box-shadow: 0px 10px 40px 0px rgba(19, 156, 97, 0.26);
		-moz-box-shadow: 0px 10px 40px 0px rgba(19, 156, 97, 0.26);
		box-shadow: 0px 10px 40px 0px rgba(19, 156, 97, 0.26);

		@media #{$resp-mobile} {
			width: 85%;
			height: 150px;
		}

		.noauth-modal__button-wrapper {
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(35%, -35%);
			z-index: 51;
			width: 40px;
			height: 40px;
			cursor: pointer;
			transition: 0.1s all ease-in-out;

			&:hover {
				transform: translate(35%, -35%) scale(1.1);
			}

			* {
				margin: 0;
				padding: 0;
			}
			.noauth-circle {
				width: 100%;
				color: #d20022;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.noauth-times {
				width: 50%;
				color: white;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}

		.noauth-modal__content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: "Open Sans";
			text-transform: uppercase;
			text-align: center;
			white-space: nowrap;
			width: 80%;

			h2 {
				margin: 0;
				margin-bottom: 15px;
				padding: 0;
				letter-spacing: 2px;
				font-weight: 600;
				@media #{$resp-mobile} {
					margin-bottom: 5px;
					font-size: 1.2rem;
				}
			}
			.noauth-modal__span {
				display: block;
				margin: 0;
				height: 2px;
				width: 100%;
				background: #139c61;
				border-radius: 50px;
				opacity: 0.75;

				@media #{$resp-mobile} {
					width: 140%;
					margin: 0 -20%;
					width: 100%;
					margin: 0;
				}
			}
			p {
				margin: 0;
				margin-top: 15px;
				font-weight: 400;
				font-style: italic;
				letter-spacing: 1px;
				white-space: normal;
				@media #{$resp-mobile} {
					font-size: 0.8rem;
				}
			}
			button {
				margin-top: 10px;
				background: rgb(19, 156, 97);
				background: linear-gradient(
					-45deg,
					rgba(19, 156, 97, 1) 0%,
					rgba(19, 88, 59, 1) 100%
				);
				border: none;
				border-radius: 20px;
				padding: 5px 20px;
				color: white;
				font-weight: 600;
				font-size: 1rem;
				letter-spacing: 1px;
				cursor: pointer;
				transition: 0.1s all ease-in-out;

				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
	.noauth-modal-buttoned {
		height: 220px;
		@media #{$resp-mobile} {
			height: 200px;
		}
	}
}
