.new-art-left {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 15vw;
	transform: scaleX(-1);
}
.new-art-right {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 55vw;
	transform: scaleX(-1);
}

.new-song-button {
	position: absolute;
	top: 47%;
	left: 49.8%;
	transform: translate(-50%, -50%);
	z-index: 12;
	width: 100px;
	fill: #15a867;
	cursor: pointer;
	transition: 0.2s all ease-in-out;
}
.new-song-button:hover {
	transform: translate(-50%, -50%) scale(1.1);
}

.new-song-h2 {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-family: "Open Sans";
	font-weight: 600;
	color: #15a867;
	letter-spacing: 2px;
}

img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.new-svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.new-0 {
	display: block;
	position: absolute;
	top: 50.8%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 750px;
	height: 750px;
	z-index: 11;
	stroke: #138051;
	fill: none;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-width: 10px;
	stroke-dasharray: 281.8 50.32;
}

.dash1 {
	z-index: 10;
}
.svg1 {
	z-index: 9;
}
.dash2 {
	z-index: 8;
}
.svg2 {
	z-index: 7;
	transform: translate(-50%, -50%) rotate(90deg);
}
.dash3 {
	z-index: 6;
}
.svg3 {
	z-index: 5;
	transform: translate(-50%, -50%) rotate(270deg);
}
.dash4 {
	z-index: 4;
}
.svg4 {
	z-index: 3;
	transform: translate(-50%, -50%) rotate(180deg);
}
.dash5 {
	z-index: 2;
}
.svg5 {
	z-index: 1;
	transform: translate(-50%, -50%) rotate(45deg);
}

.new-button-wrapper {
	transform: scale(0.75);
	position: absolute;
	top: 50%;
	left: 50%;
}

.svg-animated {
	stroke-dasharray: 2200;
	stroke-dashoffset: 2200;
}

.svg-animated g circle,
.new-0 g g circle {
	transition: 1s all ease-in-out;
}

.new-svg-red g circle {
	stroke: #d20022;
}

.fill33 {
	stroke-dashoffset: 1466;
}
.fill66 {
	stroke-dashoffset: 733.3;
}
.fill100 {
	stroke-dashoffset: 0;
}

/* NEW SONG QUERY */
.songquery {
	width: 290px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 15;
	font-family: "Open Sans";
}

.songquery h1 {
	margin: 0 0 30px 0;
	padding: 0 34px;
	font-size: 1.3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	color: #13583b;
}

.songquery input[type="text"] {
	width: 80%;
	height: 40px;
	margin: 0 5%;
	padding: 0 4%;
	border: 4px solid #139c61;
	border-radius: 20px;
	font-family: "Open Sans";
}

.songquery input[type="submit"] {
	margin: 5% 30%;
	padding: 0;
	border: none;
	border-radius: 13px;
	background: rgb(19, 156, 97);
	background: linear-gradient(
		135deg,
		rgba(19, 156, 97, 1) 0%,
		rgba(19, 88, 59, 1) 100%
	);
	color: white;
	text-transform: uppercase;
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 1rem;
	width: 40%;
	height: 35px;
	cursor: pointer;
	transition: 0.1s all ease-in-out;
}

.songquery input[type="submit"]:hover {
	transform: scale(1.1);
}

.final-wrapper {
	width: 340px;
	height: 290px;
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 15;
	font-family: "Open Sans";
}

.final-wrapper .final-svg {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 100px;
	color: #159c62;
}

.final-wrapper h1 {
	width: 100%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	text-transform: uppercase;
	color: #139c61;
	letter-spacing: 4px;
}

.final-wrapper button {
	position: absolute;
	bottom: 25%;
	left: 50%;
	transform: translateX(-50%);
	background: rgb(19, 156, 97);
	background: linear-gradient(
		90deg,
		rgba(19, 156, 97, 1) 0%,
		rgba(10, 78, 49, 1) 100%
	);
	backdrop-filter: blur(10px);
	opacity: 0.9;
	border: none;
	border-radius: 20px;
	font-family: "Open Sans";
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.3rem;
	padding: 5px 25px;
	-webkit-box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: 0.2s all ease-in-out;
}

.final-wrapper button:hover {
	transform: translateX(-50%) scale(1.1);
}

.error-wrapper {
	width: 340px;
	height: 290px;
	position: absolute;
	top: 51%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 15;
	font-family: "Open Sans";
}

.error-wrapper .err-svg {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 75px;
	height: 75px;
	color: #d20022;
}

.error-wrapper .err-svg:nth-child(2) {
	top: 7%;
	width: 35px;
	height: 35px;
	color: #92031b;
}

.error-wrapper h1 {
	width: 100%;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	text-transform: uppercase;
	color: #303030;
}

.error-wrapper p {
	width: 100%;
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	color: #303030;
	line-height: 17px;
}

.error-wrapper button {
	position: absolute;
	bottom: 11%;
	left: 50%;
	transform: translateX(-50%);
	background: rgb(19, 156, 97);
	background: linear-gradient(
		90deg,
		rgba(19, 156, 97, 1) 0%,
		rgba(10, 78, 49, 1) 100%
	);
	backdrop-filter: blur(10px);
	opacity: 0.9;
	border: none;
	border-radius: 20px;
	font-family: "Open Sans";
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.3rem;
	padding: 5px 25px;
	-webkit-box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: 0.2s all ease-in-out;
}

.error-wrapper button:hover {
	transform: translateX(-50%) scale(1.1);
}

@media only screen and (max-width: 1200px) {
	.svg-animated {
		stroke-dasharray: 2200;
		stroke-dashoffset: 2250;
	}
	.fill33 {
		stroke-dashoffset: 1466;
	}
	.fill66 {
		stroke-dashoffset: 733.3;
	}
	.fill100 {
		stroke-dashoffset: 0;
	}
	.new-button-wrapper {
		transform: scale(0.5);
	}
	.new-song-h2 {
		transform: translate(-50%, -50%) scale(0.6);
	}
	.new-song-button {
		transform: translate(-50%, -50%) scale(0.8);
	}
	.new-song-button:hover {
		transform: translate(-50%, -50%) scale(0.9);
	}
}

@media only screen and (max-width: 900px) {
	.new-button-wrapper {
		transform: scale(0.42);
		left: 50.2%;
	}

	.new-song-button {
		top: 47%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.7);
	}

	.new-song-button:hover {
		transform: translate(-50%, -50%) scale(0.8);
	}

	.new-song-h2 {
		top: 53%;
		left: 50%;
		letter-spacing: 1px;
		font-size: 1.5rem;
		width: 100%;
		text-align: center;
	}

	.svg5 {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	.songquery {
		transform: translate(-50%, -50%) scale(0.6);
		top: 50%;
		left: 50%;
	}

	.final-wrapper {
		left: 51%;
		transform: translate(-50%, -50%) scale(0.6);
	}

	.error-wrapper {
		left: 51%;
		transform: translate(-50%, -50%) scale(0.6);
	}
}
