.songs-wrapper {
	height: 450px;
	width: 45vw;
	min-width: 600px;
	max-width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 40px;
	-webkit-box-shadow: 0px 15px 42px 0px rgba(19, 156, 97, 0.3);
	-moz-box-shadow: 0px 15px 42px 0px rgba(19, 156, 97, 0.3);
	box-shadow: 0px 15px 42px 0px rgba(19, 156, 97, 0.3);
	transition: 0.2s all ease-in-out;
	overscroll-behavior: none;
}

.songs-wrapper-admin {
	overflow-y: scroll;
}

.songs-wrapper-admin::-webkit-scrollbar {
	display: none;
}

.songs-wrapper-heading {
	margin: 30px 0 10px 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "Open Sans";
	font-weight: 400;
	letter-spacing: 5px;
	text-align: center;
	color: #202020;
}

.songs-wrapper-heading span {
	color: #139c81;
}

.list-wrapper {
	position: absolute;
	top: 53%;
	left: 46%;
	transform: translate(-50%, -50%);
	width: 77%;
}

.upcoming-card {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 120px;
	width: 100%;
	border-radius: 40px;
	text-transform: uppercase;
	font-family: "Open Sans";
	font-weight: 600;
	color: #fff;
	background: rgb(21, 185, 115);
	background: linear-gradient(135deg, rgba(21, 185, 115, 1) 0%, rgba(25, 125, 83, 1) 100%);
	-webkit-box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.31);
	-moz-box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.31);
	box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.31);
}

.upcoming-card h2 {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10%;
	left: 5%;
	font-size: 1rem;
	letter-spacing: 1px;
}

.upcoming-card h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 35%;
	width: 46%;
	color: white;
	font-size: 1.5rem;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.upcoming-card h1:nth-child(2) {
	left: 0;
	text-align: right;
}

.upcoming-card h1:nth-child(4) {
	right: 0;
	text-align: left;
}

.upcoming-card span {
	display: block;
	width: 3px;
	height: 60px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translateY(-50%);
	border-radius: 10px;
	background: #fff;
}

.upcoming-card-admin h2 {
	font-size: 0.8rem;
}

.upcoming-card-admin h1 {
	bottom: 50%;
}

.upcoming-card-admin h1:nth-child(2) {
	left: -5%;
}
.upcoming-card-admin h1:nth-child(4) {
	right: 5%;
}
.upcoming-card-admin span {
	left: 45%;
	height: 40px;
	top: 37%;
}

.upc-yt-wrapper {
	position: absolute;
	bottom: 15%;
	left: 45%;
	transform: translateX(-50%);
	width: 80%;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.upc-yt-wrapper a {
	vertical-align: middle;
	color: white;
	font-size: 1.2rem;
	letter-spacing: 0.5px;
	margin-left: 25px;
	text-transform: none;
}

.upc-yt-wrapper .fa-youtube {
	position: relative;
	vertical-align: middle;
	font-size: 1.5rem;
	color: #e20303;
	z-index: 2;
}

.upc-yt-wrapper i {
	vertical-align: middle;
	font-size: 0.9rem;
	letter-spacing: -22px;
}

.song-card-wrapper * {
	position: relative;
}

.song-card {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	height: 60px;
	-webkit-box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.23);
	border-radius: 50px;
	transition: 0.2s all ease-in-out;
}

.song-card h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 46%;
	top: 50%;
	transform: translateY(-50%);
	font-family: "Open Sans";
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: 0.1s all ease-in-out;
}

.song-card h1:nth-child(1) {
	left: 1%;
	text-align: right;
}
.song-card-admin h1:nth-child(1) {
	left: -3%;
}

.song-card h1:nth-child(3) {
	right: 1%;
	text-align: left;
}
.song-card-admin h1:nth-child(3) {
	right: 7%;
}

.song-card span {
	display: block;
	width: 2px;
	height: 37px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translateY(-50%);
	border-radius: 10px;

	background: #139c61;
}

.song-card-admin span {
	left: 45%;
	transition: 0.1s all ease-in-out;
}

.songs-arrow {
	position: absolute;
	right: 6%;
	color: #13583b;
	width: 50px;
	cursor: pointer;
}

.songs-arrow-up {
	top: 22%;
}
.songs-arrow-down {
	top: 73%;
}

.song-card__arrow {
	background: rgb(21, 185, 115);
	background: linear-gradient(135deg, rgba(21, 185, 115, 1) 0%, rgba(25, 125, 83, 1) 100%);
	color: #fff;
	z-index: 16;
}

.song-card__arrow h1:nth-child(1) {
	width: 80%;
	left: 5%;
	text-align: center;
	font-weight: 600;
}

.song-card__arrow h1:nth-child(2) {
	width: 80%;
	right: 5%;
	text-align: center;
	font-weight: 600;
}

.song-card__arrow-component:nth-child(2) {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(90deg);
	right: 12%;
	height: 2rem;
}
.song-card__arrow-component:nth-child(1) {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(90deg);
	left: 14%;
	height: 2rem;
}

.sc-yt-wrapper {
	width: 80%;
	position: absolute;
	bottom: 25%;
	left: 45%;
	transform: translateX(-50%);
	transition: 0.2s all ease-in-out;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.sc-yt-wrapper a {
	vertical-align: middle;
	color: #065fd4;
	font-size: 0.9rem;
	letter-spacing: 0.5px;
	margin-left: 5px;
	text-transform: none;
	font-family: "Open Sans";
}

.sc-yt-wrapper .fa-youtube {
	position: relative;
	vertical-align: middle;
	font-size: 1.5rem;
	color: #e20303;
	z-index: 2;
}

.noresponse {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 3%;
	left: 2%;
	font-family: "Open Sans";
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 1rem;
}

.noresponse span {
	color: hsl(5, 70%, 55%);
	font-weight: 400;
}

.upc-control-wrapper,
.sc-control-wrapper {
	margin: 0;
	padding: 0 10px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.upc-icons,
.sc-icons {
	width: 40px;
	height: 40px;
	margin: 0 5px;
	cursor: pointer;
	transition: 0.1s all ease-in-out;
}

.sc-check {
	color: rgb(19, 156, 97);
}

.sc-times {
	color: rgb(206, 55, 80);
}

.upc-icons:hover,
.sc-icons:hover {
	transform: scale(1.1);
}

.dots {
	width: 35px;
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
	fill: rgb(17, 126, 79);
	cursor: pointer;
	transition: 0.1s all ease-in-out;
}

.dots:hover {
	transform: translateY(-50%) scale(1.1);
}

@media only screen and (max-width: 900px) {
	.songs-wrapper {
		width: 80vw;
		min-width: 0;
		top: 58%;
		height: 450px;
		-webkit-box-shadow: 0px 15px 42px 0px rgba(19, 156, 97, 0.2);
		-moz-box-shadow: 0px 15px 42px 0px rgba(19, 156, 97, 0.2);
		box-shadow: 0px 15px 42px 0px rgba(19, 156, 97, 0.2);
		overflow-y: scroll;
		border-radius: 25px;
	}
	.songs-wrapper-heading {
		margin: 0;
		letter-spacing: 1px;
		font-size: 1.3rem;
		position: absolute;
		left: 50%;
		top: 12%;
		transform: translateX(-50%);
		width: 100%;
	}
	.list-wrapper {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
	}
	.upcoming-card {
		height: 100px;
		border-radius: 25px;
		background: linear-gradient(135deg, rgba(21, 185, 115, 1) 0%, rgba(25, 125, 83, 1) 100%);
		backdrop-filter: blur(10px);
		opacity: 0.91;
	}
	.upcoming-card h2 {
		left: 6%;
		font-size: 0.8rem;
	}
	.upcoming-card h1 {
		bottom: 30%;
		width: 46%;
		font-size: 1rem;
	}
	.upcoming-card span {
		width: 2px;
		height: 35px;
		top: 58%;
	}

	.song-card {
		height: 50px;
		-webkit-box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.1);
		border-radius: 20px;
	}
	.song-card h1 {
		top: 50%;
		font-weight: 300;
		font-size: 0.9rem;
		letter-spacing: 0px;
	}
	.song-card span {
		display: block;
		width: 2px;
		height: 28px;
		position: absolute;
		top: 50%;
	}
	.noresponse {
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 1%;
		left: 0;
		letter-spacing: 0.5px;
		font-size: 70%;
		white-space: nowrap;
	}

	.upcoming-card-admin h1 {
		bottom: 45%;
	}
	.upcoming-card h2 {
		margin: 0;
		padding: 0;
		position: absolute;
		top: 7%;
		left: 5%;
		font-size: 0.7rem;
	}
	.upcoming-card-admin span {
		height: 25px;
		top: 40%;
	}
	.upc-yt-wrapper {
		bottom: 10%;
		left: 40%;
		transform: translateX(-50%);
		width: 70%;
		text-align: left;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.upc-yt-wrapper a {
		font-size: 0.8rem;
	}

	.upc-yt-wrapper .fa-youtube {
		font-size: 1.3rem;
	}

	.upc-yt-wrapper i {
		font-size: 0.8rem;
	}
	.upc-control-wrapper,
	.sc-control-wrapper {
		padding: 0 3px;
		position: absolute;
		top: 97%;
		right: 0;
		transform: translateY(-100%);
	}

	.upc-icons,
	.sc-icons {
		width: 25px;
		height: 25px;
		margin: 0;
	}
	.song-card h1 {
		width: 46%;
		top: 50%;
		transform: translateY(-50%);
	}

	.song-card-admin h1 {
		width: 45%;
	}
	.song-card-admin h1:nth-child(1) {
		left: 8%;
	}

	.song-card-admin h1:nth-child(3) {
		right: 0%;
	}

	.song-card-admin span {
		left: 53.5%;
		transition: 0.1s all ease-in-out;
	}
	.dots {
		position: absolute;
		top: 50%;
		left: 0%;
		transform: translateY(-50%) rotate(90deg);
		width: 29px;
	}
}
