.songs-wrapper {
	height: 60vh;
	max-height: 600px;
	min-height: 500px;
	width: 45vw;
	min-width: 600px;
	max-width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 40px;
	-webkit-box-shadow: 0px 15px 42px 0px rgba(19, 156, 97, 0.3);
	-moz-box-shadow: 0px 15px 42px 0px rgba(19, 156, 97, 0.3);
	box-shadow: 0px 15px 42px 0px rgba(19, 156, 97, 0.3);
}

.songs-wrapper-heading {
	margin: 30px 0 0 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "Open Sans";
	font-weight: 400;
	letter-spacing: 5px;
	text-align: center;
	color: #202020;
}

.songs-wrapper-heading span {
	color: #139c81;
}

.list-wrapper {
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 70%;
	overflow-y: scroll;
}

.upcoming-card {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 150px;
	width: 100%;
	border-radius: 40px;
	text-transform: uppercase;
	font-family: "Open Sans";
	font-weight: 600;
	color: #fff;
	background: rgb(21, 185, 115);
	background: linear-gradient(
		135deg,
		rgba(21, 185, 115, 1) 0%,
		rgba(25, 125, 83, 1) 100%
	);
	-webkit-box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.31);
	-moz-box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.31);
	box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.31);
}

.upcoming-card h2 {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10%;
	left: 5%;
	/* transform: translate(-50%, -50%); */
	font-size: 1rem;
	letter-spacing: 1px;
}

.upcoming-card h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 35%;
	width: 46%;
	color: white;
	font-size: 1.5rem;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.upcoming-card h1:nth-child(2) {
	left: 0;
	text-align: right;
}

.upcoming-card h1:nth-child(4) {
	right: 0;
	text-align: left;
}

.upcoming-card span {
	display: block;
	width: 3px;
	height: 60px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translateY(-50%);
	border-radius: 10px;
	background: #fff;
}

.song-card-wrapper {
	margin-top: 150px;
	position: relative;
}

.song-card {
	position: relative;
	margin: 0;
	padding: 0;
	height: 60px;
	-webkit-box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.3);
	border-radius: 50px;
}

.song-card h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 46%;
	top: 50%;
	transform: translateY(-50%);
	font-family: "Open Sans";
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.song-card h1:nth-child(1) {
	left: 0;
	text-align: right;
}

.song-card h1:nth-child(3) {
	right: 0;
	text-align: left;
}

.song-card span {
	display: block;
	width: 2px;
	height: 37px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translateY(-50%);
	border-radius: 10px;

	background: #139c61;
}
